@page
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Look.css" />
    <script src="~/js/Pusher.js"></script>
</head>

<body class="Hell" onload="setTimeout(Pusher,2000)">
    <div><img src="~/src/flame.gif" id="opener"></div> <!---->
    <div class="MainDiv">
        <p style="color:white">あなたの怨み、晴らします。</p>
        <input id="name" type="text">
        <div>
            <form method="post">
                <input id="Revenge" type="button" value="送信" onclick="" />
            </form>
        </div>
    </div>
</body>
</html>